*{
    margin:0px;
    padding:0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    color:white;
    text-decoration: none;
}
:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --nav-color:rgba(0, 0, 0, 0.229);
}
body{
    overflow-x: hidden;
}
@media(max-width:767px){
    .container{
        width:95%;
        margin:auto;
    }
}
@media(min-width:768px) and (max-width:991px){
    .container{
        width:90%;
        margin:auto;
    }
}
@media(min-width:992px){
    .container{
        width:85%;
        margin:auto;
    }
}
@media(min-width:1200px){
    .container{
        width:88%;
        margin:auto;
    }
}
/*********** global ele ********/
section{
    padding:80px 0px;
}
/*********** global ele ********/
/******** start header *********/
.home{
    position:relative;
    height:100vh;
    background-image:url('../images/services2.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
}
.home .overlap{
    color:white;
   position:absolute;
   top:0%;
   left:0%;
   right:0%;
   bottom:0%;
   width:100%;
   background-color:rgba(0,0,0,0.5);
   
}
.overlap .container{
    position:relative;
    height:100vh;
}
.home .overlap h3{
    font-size:35px;
}
.home .content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.home span{
    color:var(--pink);
}
.home .fa-arrow-left,
.home .fa-arrow-right{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:30px;
}
.home .fa-arrow-left{
    left:0%;
}
.home .fa-arrow-right{
    right:0%;
}

header{
    padding:10px;
    background-color:rgba(0, 0, 0, 0.641);
    position:fixed;
    top:0%;
    width:100%;
    z-index: 1000000;
}
header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
header .logo img{
    display:block;
    width:80px;
    height:80px;
    border-radius:50%;
}
header ul {
    display:flex;
}
header ul a{
    display:inline-block;
    margin-right:20px;
}
header .fa-cart-shopping{
    color:white;
    font-size:30px;
    margin-right:10px;
}
.logo-left{
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo-left #cart{
    position: relative;
}
.logo-left .overlap-cart{
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    text-align: center;
    top:-50%;
    right:-10%;
    color:white;
    z-index: 3;
    font-size:10px;
    line-height: 20px;
    background-color: #e83e8c;
}

header button{
    padding:10px;
}
header button .fa-arrow-right-from-bracket{
    color:black
}
@media(max-width:767px){
    nav{
        position: absolute;
        top:100%;
        flex-direction: column;
        background-color:rgba(0, 0, 0, 0.694);
        width:100%;
        left:0%;
        right:0%;
        padding:20px;
    }
    .btn{
        display:block;
    }
    .logo-left button{
        display: none;
    }
    nav ul{
        display: block;
        
    }
    nav a{
        margin-bottom: 5px;
    }
    nav{
        position: absolute;
        top:100%;
        flex-direction: column;
    }
    .btn{
        display:block;
    }
    .logo-left button{
        display: none;
    }
    nav ul{
        display: block;
    }
}
/************** start header *********/
/***********start services ************/
.services .head{
    text-align:center;
}
.services .services-container{
   display:flex;
   flex-wrap: wrap;
} 
.services .box{
    text-align: center;
    margin:50px 0px;
    width:calc(99% / 3);
}
.services .box button{
    padding:5px 10px;
    background-color:var(--gray);
    border-radius:20px;
    outline: none;
    border-color: transparent;
}

@media(max-width:767px){
    .services-container{
        display: block;
    }
    .services-container .box{
        width:100%;
    }
}
/***********start services ************/
.timeline{
    margin:5em auto;
    max-width:34.15em;
}
.checkpoint{
    max-width:34em;
    padding-top:2em;
    padding-bottom: 2em;
    position: relative;
   
}
.checkpoint div{
    border:2px soild #888;
    border-radius: 1em;
    padding:1.5em;
    background-color: pink;
}
.checkpoint p{
    line-height: 27px;
    color:var(--gray);
}
@media screen and (max-width:1150px){
   .timeline{
       width:80vw;
    }
   .timeline .checkpoint{
       width:100%;
       transform: none;
       padding-left: 0px;
       padding-right: 0px;
   }
}
@media screen and (min-width:1151px){
    
    .checkpoint:nth-child(odd){
        border-left: 3px solid #888;
        padding-left: 3em;
        transform: translateX(17em);
    }
    .checkpoint:nth-child(even){
        border-right:3px solid #888;
        padding-right:3em;
        transform: translateX(-17em);
    }
} 
/************* start footer ***********/
footer{
    margin-top:100px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
footer .box{
    width:calc(90% / 3);
    line-height: 1.5;
    color:var(--secondary)
}
footer .box h3{
    text-align: center;
    color:pink;
}
footer .box1{
    text-align: center;
}
footer .box1 span{
    color:pink;
}
footer .box:nth-child(2) input{
  width:100%;
  padding:10px;
  margin:10px 0px;
  border-radius: 5px;
  outline:none;
}
footer .container + p{
    text-align: center;
    color:#6c757d;
}
footer span{
    color:pink;
    letter-spacing:2px;
}
/************ end  footer **********/